<!-- /footer -->
<div class="uk-position-bottom-center uk-position-small">
    <span class="uk-text-small uk-text-muted">© 2022 Breakout Room 16 Inc. - <a
            href="https://github.com/francisca-hernandez/Mind-Over-Matter">View on Github</a> | Built with MVP in
        mind <a href="http://getuikit.com" title="Visit UIkit 3 site" target="_blank" data-uk-tooltip><span
                data-uk-icon="uikit"></span></a></span>
</div>