<nav class=".uk-navbar-container uk-navbar-transparent uk-position-top-left uk-position-z-index" uk-navbar>
    <div class="uk-navbar-left">
        <a></a>
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="https://git.heroku.com/mind-over-matter-2.git/homepage">homepage</a></li>
            <li class="uk-active"><a href="https://git.heroku.com/mind-over-matter-2.git/entries">Entries</a></li>
            <li class="uk-active"><a href="https://git.heroku.com/mind-over-matter-2.git/aboutus">about us</a></li>
            <li class="uk-active"><a href="https://git.heroku.com/mind-over-matter-2.git/resources">Resources</a></li>
            <li id="logout" class="uk-active"><a href="https://git.heroku.com/mind-over-matter-2.git">logout</a></li>
        </ul>
    </div>
</nav>