<nav class="" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="">homepage</a></li>
            <li class="uk-parent"><a href="">mind palace</a></li>
            <li><a href=""></a>logout</li>
        </ul>
    </div>
</nav>