
{{>header}}

<body id='login'
    class="uk-cover-container uk-background-blend-overlay uk-background-secondary uk-height-viewport uk-overflow-hidden uk-light"
    data-uk-height-viewport>

    {{>navbar}}
    {{>banner}}

    {{#if loggedIn}}

    <section class="uk-section uk-section-dark">
        <div class="uk-container uk-flex uk-flex-center">
            <div class="uk-width-expand">
                <div>
                    <h3 class="uk-heading-line uk-text-bold"><span>Reflections</span></h3>
                    <article class="uk-section uk-section-small uk-padding-remove-top">
                        <header>
                            <h2>Tell us about your day</h2>
                            <label for="todays-notes">Notes</label>
                            <textarea class="uk-textarea" rows="3"></textarea>
                            <button class="uk-margin-top uk-button uk-button-secondary uk-width-1-4"> Submit Entry</button>
                        </header>
                    </article>
                </div>
            </div>
        </div>
    </section>
    {{else}}

    <a href="./login.handlebars"> <button
            class="uk-margin-top uk-button uk-button-secondary uk-border-pill uk-width-1-4"> Create an Account or Sign
            in</button></a>

    {{/if}}

 {{>footer}}

 <script src="/js/logout.js"></script>
 <script src="/js/mood.js"></script>

</body>
