{{>header}}

<body id='login'
    class="uk-cover-container uk-background-blend-overlay uk-background-secondary uk-height-viewport uk-overflow-hidden uk-light"
    data-uk-height-viewport>

    {{>navbar}}

    {{!-- {{#if loggedIn}} --}}
    
    {{>banner}}

    <section>
        <ul id="previous-entries">
            {{each previous-entries}}
            {{!-- This depends on formatting, whether we push
            single inputs into individual arrays or if we push full
            information as an object
            --}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </section>
    {{else}}

    <a href="./login.handlebars"> <button> Create an Account or Sign in</button></a>

    {{/if}}
    {{>footer}}
    <script src="/js/logout.js"></script>
</body>