{{!-- looking to add the logo here and insert navbar partial above --}}
<h1>Welcome, to Mind over Matter</h1>
<section>
    <h2>What was the vibe today, {{ name }}?</h2>
    <label for="vibe-check">Todays Vibe</label>
    <select name="vibe-check" id="vibe-check">
        <option value="Happy">Happy</option>
        <option value="Angry">Angry</option>
        <option value="Sad">Sad</option>
        <option value="Irritable">Irritable</option>
        <option value="Tired">Tired</option>
    </select>
</section>


{{!-- Prepping additional section --}}

{{!-- <section></section>
<section></section> --}}