{{!-- looking to add the logo here and insert navbar partial above --}}
{{#if loggedIn}}
<h1>Welcome, to Mind over Matter</h1>
<button id="logout">Logout</button>
<section>
    <form id="mood-form">
        <h2>What was the vibe today, {{ name }}?</h2>
        <label for="vibe-check">Todays Vibe</label>
        <select name="vibe-check" id="vibe-check">
            <option value="Happy">Happy</option>
            <option value="Angry">Angry</option>
            <option value="Sad">Sad</option>
            <option value="Irritable">Irritable</option>
            <option value="Tired">Tired</option>
        </select>
        <button type="submit" id="submit-mood">Submit</button>
    </form>
</section>
{{/if}}

{{!-- Prepping additional section --}}
{{!-- <section>
    <h2>Todays Notes</h2>
    <label for="todays-notes">Notes</label>
    <input type="text" id="todays-notes">
</section>

<section>
    {{!-- Calendar to go here --}}
</section>
--}}
    <script src="/js/logout.js"></script>
    <script src="/js/mood.js"></script>