<h1>Log In or Sign Up</h1>
<section>
    {{!-- log in section --}}
    <h2>Login</h2>
    <form>
        <div>
            <label for="email">Email</label>
            <input type="text" id="email">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="text" id="password">
        </div>
        <div>
            <button type="submit" id="signup-submit">Submit</button>
        </div>

    </form>

</section>

<section>
    {{!-- signup section --}}
    <form>
        <div>
            <label for="first-name">First Name:</label>
            <input type="text" id="first-name">

            <label for="last-name">Last Name</label>
            <input type="text" id="last-name">
        </div>
        <div>
            <label for="su-username">Username</label>
            <input type="text" id="su-username">
        </div>
        <div>
            <label for="su-email">Email</label>
            <input type="text" id="su-email">
        </div>
        <div>
            <label for="su-password">Password</label>
            <input type="text" id="su-password">
        </div>
        <div>
            <button type="submit" id="signup-submit">Submit</button>
        </div>

    </form>
</section>