{{>header}}

<body id='login'
    class="uk-cover-container uk-background-blend-overlay uk-background-secondary uk-height-viewport uk-overflow-hidden uk-light"
    data-uk-height-viewport>

    {{>navbar}}
    {{>banner}}


    <div>
        <section class="uk-section uk-section-dark">
            <div class="uk-container uk-flex uk-flex-center">
                <div class="uk-width-expand">
                    <div>
                        <h1 class="uk-heading-line uk-text-bold"><span>Resources</span></h1>
                        <h2 class="uk-heading-line uk-text-bold"><span>Suicide prevention line</span></h2>
                        <article class="uk-section uk-section-small uk-padding-remove-top">
                            <h3><a href="tel:">1-800-273-8255</a></h3>
                        </article>
                        <article class="uk-section uk-section-small uk-padding-remove-top">
                        <h2 class="uk-heading-line uk-text-bold"><span>Getting Help</span></h2>
                         <h3><a href="https://www.psychologytoday.com/us" target="_blank">Psychology Today - Find a provider near you!</a></h3>
                        </article>
                        <article class="uk-section uk-section-small uk-padding-remove-top">
                        <h3><a href="https://www.nami.org/Your-Journey/Individuals-with-Mental-Illness/Finding-a-Mental-Health-Professional" target="_blank">National Alliance on Mental Illness: How do you pick the right provider?</a></h3>
                        </article>
                        <article class="uk-section uk-section-small uk-padding-remove-top">
                        <h3><a href="https://www.betterhelp.com/get-started/?go=true&utm_source=AdWords&utm_medium=Search_PPC_c&utm_term=help+me+find+a+therapist_e&utm_content=143057211315&network=g&placement=&target=&matchtype=e&utm_campaign=18564847329&ad_type=text&adposition=&gclid=Cj0KCQjwteOaBhDuARIsADBqReh_5nNnLX8wqcQ950lH54YsTTgJEQsTl5hUnTKTnYMggH7b93BvvBcaAmX6EALw_wcB&not_found=1&gor=start" target="_blank">Better Help: Affordable Therapy online</a></h3>
                        </article>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {{#if loggedIn}}
    {{else}}


    {{>tosignin}}
    {{/if}}
    {{>footer}}
    <script src="/js/logout.js"></script>
</body>