{{>header}}

<body id='login'
    class="uk-cover-container uk-background-blend-overlay uk-background-secondary uk-height-viewport uk-overflow-hidden uk-light"
    data-uk-height-viewport>

    {{>navbar}}

    

    {{>banner}}

    <div>

    </div>



    <a href="./login.handlebars"> <button
            class="uk-margin-top uk-button uk-button-secondary uk-border-pill uk-width-1-4"> Create an Account or Sign
            in</button></a>
    {{>footer}}
 <script src="/js/logout.js"></script>
</body>