{{>header}}

<body id='login'
    class="uk-cover-container uk-background-blend-overlay uk-background-secondary uk-height-viewport uk-overflow-hidden uk-light"
    data-uk-height-viewport>

    {{>navbar}}

    {{!-- {{#if loggedIn}} --}}

    {{>banner}}

    <div>

    </div>

    {{>footer}}
 <script src="/js/logout.js"></script>
 <script src="/public/js/navbar.js"></script>
</body>