<section class="uk-section uk-section-medium">
    <div class="uk-container uk-margin-top">
        <div class="uk-height-large uk-cover-container uk-border-rounded">
            <img src="https://picsum.photos/1300/500/?random" alt="Alt img" data-uk-cover>
            <div
                class="uk-overlay uk-overlay-primary uk-position-cover uk-flex uk-flex-center uk-flex-middle uk-light uk-text-center">
                <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
                    <img src="../public/Images/login-logo.png.png" alt="Logo" width="100h" height="100h">
                    <h1 class="uk-margin-top uk-margin-small-bottom uk-margin-remove-adjacent">Welcome, to Mind over
                        Matter</h1>
                    <script type="text/javascript" src="https://www.brainyquote.com/link/quotebr.js"></script>
                </div>
            </div>

        </div>
    </div>
</section>