<nav class=".uk-navbar-container uk-navbar-transparent uk-position-top-left uk-position-z-index" uk-navbar>
    <div class="uk-navbar-left">
         <a></a>
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="../homepage.handlebars">homepage</a></li>
            <li class="uk-active"><a href="../homepage.handlebars">Enlightenment</a></li>
            <li class="uk-active"><a href="../login.handlebars">logout</a></li>
            <li class="uk-active"><a href="../Resources.handlebars">Resources</a></li>
            <li class="uk-active"><a href="../login.handlebars">About Us</a></li>
        </ul>
    </div>
</nav>